HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Tenk ###
tenk-backend/uploads/

### Flutter (tenk_app/) ###
# `flutter create`가 tenk_app/.gitignore를 자체 생성하므로 루트에는 안전망용 최소 항목만 둠
tenk_app/.dart_tool/
tenk_app/.flutter-plugins
tenk_app/.flutter-plugins-dependencies
tenk_app/.packages
tenk_app/build/
tenk_app/ios/Pods/
tenk_app/ios/.symlinks/
tenk_app/android/.gradle/
tenk_app/android/local.properties
tenk_app/android/key.properties
tenk_app/**/GeneratedPluginRegistrant.*
